<form action="/cars" method='post'>
<label for='name'> Brand: </label>
<input type='text' name='name'>

<label for='size'> Size: </label>
<input type='text' name='size'>

<input type='submit' value-'Add new motorcar!'>
</form>